<section class="container">
  <header>
    <h1>Login</h1>
    <p>You need to login with your username and password.</p>
    <nav>
      <a [routerLink]="['/home']">Bypass to Home</a>
    </nav>
  </header>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="username">Username</label>
      <input type="text" placeholder="username@email.com" formControlName="username" [formControl]="loginForm.controls['username']">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" placeholder="password" formControlName="password" [formControl]="loginForm.controls['password']">
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</section>

